#medium{
    display: block;
}
#nav_medu{
    display: block;
}
#smoll{
    display: none;
}
#nav_sol {
    display: none;
}
/* @media (min-width:px) {
    #medium{
        display: none;
    }
    #smoll{
        display: block;
    }
} */
.imgg {
    width: 66vh;
}
main{
    background-color: #110B09;

}
#bac{
    background-color: #110B09;
}
#bac p{
    color: white;
    font-size: 3vh;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url('../image/original.jpg');
    background-position: center;
    height: 100vh;
    background-size: cover;
}

header h1 {
    font-size: 0vh;
    font-family: 'Playfair Display', serif;
    padding: 1% 0 0 1%;
}

header h1 .M {
    color: #F0AE00;
    font-family: 'Playfair Display', serif;
    font-size: 5.5vh;
    border-style: solid none dashed solid;
    border-width: 0.5vh;
}

header h1 .irleft {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 5.5vh;
    border-style: dashed solid solid none;
    border-width: 0.5vh;

}

header ul {
    float: right;
    list-style-type: none;
    margin-top: 3vh;
    margin-right: 2vh;
}

header ul li {
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1vh 2vh;
    border: 0.5vh solid transparent;
    font-size: 3vh;
    transition: 1s ease;
}

header ul li a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #F0AE00;
    font-size: 3.2vh;
    border-radius: 1vh;
    transition: 1.5s ease;
}

header ul li.active a {
    background-color: rgba(255, 255, 255, 0.5);
    color: #F0AE00;
    font-size: 3.2vh;
    border-radius: 1vh;
    transition: 1.5s ease;
}
#nav_mediu{
    position: fixed;
    width: 100%;
    height: 9.6%;
    background: linear-gradient(to right,#0B0505,#1B0D0A,#1D0E09, #1E110B,#100708,#060405);
    z-index: 999;
    }
    button{
        display: none;
    }
#bien {
    position: relative;
    top: 46%;
    text-align: center;
    color: white;
    font-size: 8vh;
    font-weight: bold;
    font-weight:unset;
}
.def {
    text-align: center;
    width: 80%;
    margin:2% 0% 4% 11%;
}
.clad1
{
    width: 70%;
    border: solid;
    border-radius: 2vh;
    margin-left: 16%;
    align-items: center;
    border-color: gray;
    border-width: 0.8vh;

}

.his {
    text-align: center;
    width: 95%;
    margin:2% 0% 5% 3%;
}
.lef_img {
    float: left;
}
.rei_img {
    float: right;
    padding-left: 2%;
}
.hist {
    width: 50% ;
    height: auto ;
    padding-top: 5vh !important;
    padding-right: 0vh !important;
}
#bac h1 {
color: #F0AE00;
font-size: 4vh;
}

body div ul li{
    text-align: left;
    list-style-position:initial;
    margin-left: 12%;
    color: white;
    font-size: 3vh;

}

hr{
    border: solid;
    border-color: gray;
}


footer h1 .M {
    color: #F0AE00;
    font-family: 'Playfair Display', serif;
    font-size: 5.5vh;
    border-style: solid none dashed solid;
}
footer h1 .irleft {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 5.5vh;
    border-style: dashed solid solid none;
}
/* footer h1{
    font-size: 0vh;
    position: relative;
    padding-left: 6vh;
} */
.log {
    padding-left: 2vh;
    width: 11vh;
}
footer ul{
    padding-top: 1%;
 margin-right: 9vh;
} 
footer li{
list-style-type: none;
float: right;
padding-left: 3vh;
}
footer p{
    position: relative;
    text-align: center;
    color: #fff;
    padding-bottom: 4vh;
    font-size: 2.5vh;
} 
 footer{
    background-color: black;
}
iframe {
    height: 77vh;
}